.color-accent{
    background: rgb(88,38,115);
}

.color-accent:hover{
    background: #8f47b5;
}

.color-accent-card{
    background: rgb(60, 32, 75);
}

.color-accent-gradient{
    background: rgb(88,38,115);
    background: linear-gradient(90deg, rgba(88,38,115,1) 0%, rgba(46,12,64,1) 99%);
}

main{
    min-height: 50em;
    /*background-color: #FFF0E5;*/
    background-color: rgb(19, 19, 19);
}
#main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5em;
}
#main-content > :not(:first-child){
    margin-top: 5em;
}
h2{
    margin-top: 0.5em;
    font-size: 1.5em;
}
.input-field > input{
    color: white;
}
.nav-wrapper > a{
    margin-left: 0.8em;
}
#query {
    min-width: 35em;
    padding: 2em;
    border-radius: 0.5em;
    margin: 0 auto;
}
#query > *{
    color: white;
}
#query-input{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#query-input > :not(:last-child){
    margin-right: 2em;
}
#query-input > .input-field{
    min-width: 22em;
}

#loading-message{
    margin: 0 auto;
    display: none;
    flex-direction: column;
}

#loading-message > p {
    color: white;
    font-size: 1.5em;
    text-align: center;
}

#loading-message > .preloader-wrapper {
    margin: 0 auto;
}

#response {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    max-width: 50em;
    margin: 0 auto;
}

#response-text {
    color: white;
}

.darken {
    filter: brightness(50%);
}